<!DOCTYPE html>
<html lang="en-us">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Sitings by State</title>
    <!-- Boostrap Stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Our own CSS stylesheet -->
    <link rel="stylesheet" href="../static/css/styles.css" media="screen">
    <script src="https://d3js.org/d3.v5.min.js"></script>
  </head>

  <body>
    <!-- Start of navbar -->
    <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="http://127.0.0.1:5000/">Home</a>
          <a class="navbar-brand" href="http://127.0.0.1:5000/map/">Map</a>
          <a class="navbar-brand" href="http://127.0.0.1:5000/bystate/">Graphs</a>
        </div>
    
               <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://127.0.0.1:5000/bystate/">States</a></li>
            <li><a href="http://127.0.0.1:5000/map/">Map</a></li>
            <li><a href="http://127.0.0.1:5000/overtime/">Years</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>   
    <!-- End of navbar -->
  </div>
  <div style="background-image: url(../static/images/secret-3120483__340.jpg);  background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Sitings by State Dashboard</h1>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="bar2" style="background-color:#d3d3d3;"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h5>State Selector:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <!-- <h3 class="panel-title">Demographic Info</h3> -->
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
      <div class="col-md-9">
        <div id="bar" style="background-color:#d3d3d3;"></div>
      </div>
        <div class="col-md-12">
          <div id="line" style="background-color:#d3d3d3;"></div>
        </div>
    </div>
  </div>
</div>
</div>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='/js/plot.js')}}"></script>


  </body>

</html>
