<!DOCTYPE html>
<html lang="en-us">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Paranormal Sitings</title>

    <!-- Boostrap Stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Our own CSS stylesheet -->
    <link rel="stylesheet" href="../static/css/styles.css" media="screen">

  </head>

  <body>
    <!-- Start of navbar -->
    <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="http://127.0.0.1:5000/">Home</a>
          <a class="navbar-brand" href="http://127.0.0.1:5000/map/">Map</a>
          <a class="navbar-brand" href="http://127.0.0.1:5000/bystate/">States</a>
          <a class="navbar-brand" href="http://127.0.0.1:5000/comparisons/">Comparisons</a>
        </div>
      </div><!-- /.container-fluid -->
    </nav>  
  </div>  
    <!-- End of navbar -->
    <div style="background-image: url(../static/images/secret-3120483__340.jpg);  background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
      <div class="container" >
        <div class="jumbotron">
          <div class="row">
              <div class="col-xs-6 col-md-6">
          <h1 class="display-4">The Paranormal</h1>
          </div>
          </div>
          <div class="row">
          <p class="lead">A recent survey, Commissioned by Phantom Wines and conducted by OnePoll, of 2,000 people aged 21 and over found that 63% of respondents believe in the paranormal in some form. 
            
            The unexplained beings they believe exist are ghosts (57%), visitors from other planets (39%) and Bigfoot (27%).

            A third of respondents (35%) even said they've felt an unexplained presence in their homes, prompting them to worry that they're being haunted by the paranormal.</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="jumbotron">
          <div class="row">
            <div class="col-md-4">
              <a class="img-fluid">
                <img src="../static/images/bigfoot-517258962.png" alt="..." style="width: 100%; height: 100%; object-fit: fill;">
              </a>
            </div>
          
          <div class="col-md-8">
          <h1 class="display-4">BigFoot:</h1>
          <p class="lead">The legends of Bigfoot go back beyond recorded history and cover the world. In North America – and particularly the Northwest – you can hear tales of seven-foot-tall hairy men stalking the woods, occasionally scaring campers, lumberjacks, hikers and the like.
            North American settlers started reporting sightings during the late 1800s and into the 1900s with the occasional finding of footprints, sporadic encounters and even a few grainy photos and videos adding to the mystery. Those who claim to have seen Bigfoot have described everything from a large, upright ape to an actual hairy human, sometimes standing over eight feet tall and described as powerfully built. The debate and research continue. Entire organizations exist to study and document Bigfoot and prove its existence and groups regularly search the Northwest woods, looking for that ultimate proof.
          </p>
        </div>
        </div>  
        </div>
      </div>
      <!-- Start of container -->
      <div class="container">
        <div class="jumbotron">
          <div class="row">

            <div class="col-md-4">
              <a class="thumbnail">
                <img src="../static/images/p08bq4gh.jpg" alt="..." style="width: 100%; height: 100%; object-fit: fill;">
              </a>
            </div>
          
          <div class="col-md-8">
            <h1 class="display-4">UFOS:</h1>
          
        
          <p class="lead">An unidentified flying object (UFO), more recently renamed by US officials as an unidentified aerial phenomenon (UAP),[1] is any perceived aerial phenomenon that cannot be immediately identified or explained. On investigation, most UFOs are identified as known objects or atmospheric phenomena, while a small number remain unexplained.

            Scientists and skeptic organizations such as the Committee for Skeptical Inquiry have provided prosaic explanations for a large number of claimed UFOs being caused by natural phenomena, human technology, delusions, or hoaxes. Small but vocal groups of ufologists favour unconventional, pseudoscientific hypotheses, often claiming that UFOs are evidence of extraterrestrial intelligence. Beliefs surrounding UFOs have inspired parts of new religions.
            
            While unusual sightings have been reported in the sky throughout history, UFOs became culturally prominent after World War II, escalating during the Space Age. The 20th century saw studies and investigations into UFO reports conducted by governments (such as Projects Grudge and Sign in the United States, and Project Condign in the United Kingdom), as well as by organisations and individuals.</p>
        </div>
      </div>
      </div>
      </div>
      
      <div class="container">
        <div class="jumbotron">
          <div class="row">
            <div class="col-md-4">
              <a class="thumbnail">
                <img src="../static/images/26mcgrath-articleLarge.png" alt="..." style="width: 100%; height: 100%; object-fit: fill;">
              </a>
            </div>
          
            <div class="col-md-8">
            <h1 class="display-4">Ghosts:</h1>
            <p class="lead">Ghost, soul or spectre of a dead person, usually believed to inhabit the netherworld and to be capable of returning in some form to the world of the living.
              Belief in ghosts is based on the ancient notion that a human spirit is separable from the body and may maintain its existence after the body’s death.
              A place that is haunted is thought to be associated by the haunting spirit with some strong emotion of the past—remorse, fear, or the terror of a violent death.  </p>
          </div>
        </div>
          
        </div>
      </div>
    </div>
    <!-- End of container -->

    <!-- jQuery CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Bootstrap CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>

</html>
