<!DOCTYPE html>
<html lang="en-us">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Sitings by State</title>
    <!-- Boostrap Stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Our own CSS stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'styles.css') }}" media="screen">
    <script src="https://d3js.org/d3.v5.min.js"></script>
  </head>

  <body>
    <!-- Start of navbar -->
    <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="http://127.0.0.1:5000/">Home</a>
          <a class="navbar-brand" href="http://127.0.0.1:5000/bystate/">States</a>
          <a class="navbar-brand" href="http://127.0.0.1:5000/map/">Map</a>
          <a class="navbar-brand" href="http://127.0.0.1:5000/overtime/">Years</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://127.0.0.1:5000/bystate/">States</a></li>
            <li><a href="http://127.0.0.1:5000/map/">Map</a></li>
            <li><a href="http://127.0.0.1:5000/overtime/">Years</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>    
  </div>
    <!-- End of navbar -->
    <!-- Start of container -->
    <div class="container">
      <div class="jumbotron">
        <div class="page-header">
          <h1</h1>
        </div>
        <!-- <div class="row"> -->
          <!-- <div class="col-1 col-s-3 col-md-6">
            <a  class="thumbnail">
              <img src="../assets/images/Fig2.png" alt="...">
            </a>
          </div>
          <div class="col-1 col-s-3 col-md-6">
            <p></p>
          </div>
        </div> -->
      </div>
    </div>        <!-- Start of Visualizations imageNav Area -->
    <div class="container">
      <!-- <div class="row">
        <div class="col-xs-6 col-md-3">
          <a href="temp.html" class="thumbnail">
            <img src="../assets/images/Fig1.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="humidity.html" class="thumbnail">
            <img src="../assets/images/Fig2.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="cloudiness.html" class="thumbnail">
            <img src="../assets/images/Fig3.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="wind.html" class="thumbnail">
            <img src="../assets/images/Fig4.png" alt="...">
          </a>
        </div>
      </div> -->
    </div>

    <!-- End of container -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='/js/lineplot.js')}}"></script>
  
      <!-- Bootstrap CDN -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
  

</html>
