<!DOCTYPE html>
<html lang="en-us">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Sitings by State</title>
    <!-- Boostrap Stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Our own CSS stylesheet -->
    <link rel="stylesheet" href="../static/css/styles.css" media="screen">
    <script src="https://d3js.org/d3.v5.min.js"></script>
  </head>

  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="http://127.0.0.1:5000/">Home</a>
          <a class="navbar-brand" href="http://127.0.0.1:5000/map/">Map</a>
          <a class="navbar-brand" href="http://127.0.0.1:5000/bystate/">States</a>
          <a class="navbar-brand" href="http://127.0.0.1:5000/comparisons/">Comparisons</a>
        </div>
    
               <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://127.0.0.1:5000/bystate/">States</a></li>
            <li><a href="http://127.0.0.1:5000/map/">Map</a></li>
            <li><a href="http://127.0.0.1:5000/overtime/">Years</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>   
    <!-- End of navbar -->
  </div>
  <div style="background-image: url(../static/images/secret-3120483__340.jpg);  background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Comparisons</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id='myDiv' style="object-fit: fill;"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id='myDiv2' style="object-fit: fill;"></div>
      </div>
    <div class="row">
      <div class="col-md-12">
        <div id='myDiv3' style="width: 100%; object-fit: fill;"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id='myDiv4' style="width: 100%; object-fit: fill;"></div>
      </div>
    </div>
    </div>
  </div>
</div>
</div>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" src="../static/js/graphs.js"></script>

  </body>
  

</html>
